In [20]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import statsmodels.api as sm  

df = pd.read_csv("QSurvey.csv")

df.head()

,Q_RecaptchaScore,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,FL_22_DO
0,1.0,Female,White or Caucasian,"Graduate or professional degree (MA, MS, MBA, ...",Liberal,Neither agree nor disagree,Somewhat agree,Strongly disagree,Canada,Somewhat agree,Somewhat agree,Neither agree nor disagree,Somewhat agree,Extremely positive,Somewhat negative,Not at all,FL_24
1,1.0,Female,Black or African American,"Some college, but no degree",Very conservative,Strongly disagree,Strongly disagree,Strongly disagree,Canada,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Extremely positive,Somewhat positive,Not at all,FL_24
2,0.9,Male,White or Caucasian,Associates or technical degree,Very liberal,Strongly disagree,Strongly disagree,Strongly disagree,Canada,Strongly disagree,Somewhat agree,Strongly agree,Strongly agree,Somewhat positive,Extremely negative,Not at all,FL_23
3,1.0,Male,White or Caucasian,"Some college, but no degree",Very liberal,Somewhat agree,Neither agree nor disagree,Strongly disagree,The United States,Strongly disagree,Neither agree nor disagree,Somewhat agree,Strongly agree,Somewhat positive,Neither positive nor negative,Not at all,FL_24
4,NaN,Female,White or Caucasian,"Graduate or professional degree (MA, MS, MBA, ...",Conservative,Neither agree nor disagree,Somewhat agree,Neither agree nor disagree,The United States,Somewhat agree,Neither agree nor disagree,Somewhat agree,Somewhat agree,Neither positive nor negative,Somewhat negative,Mostly,FL_23

In [21]:
agree_map = {
    "Strongly disagree": 1,
    "Somewhat disagree": 2,
    "Neither agree nor disagree": 3,
    "Somewhat agree": 4,
    "Strongly agree": 5
    
}

affect_map={
    "Extremely negative": 1,
    "Somewhat negative": 2,
    "Neither positive nor negative": 3,
    "Somewhat positive": 4,
    "Extremely positive": 5
}

six_pt_map={
"Not at all": 1,
"Slightly": 2,
"Somewhat":  3, 
"Mostly": 4,
"Extremely":  5,
"Not sure":  None

}

political_map ={
    "Very liberal": 1,
    "Liberal":2,
    "Moderate": 3,
    "Conservative": 4,
    "Very conservative": 5,
    "Prefer not to say": None
}

country_map={
    "The United States": 2,
    "Canada": 1,
    "Other": 3
}

In [22]:
df['Q4'] = df['Q4'].map(political_map)
df[['Q5','Q6', 'Q7','Q9','Q10','Q11','Q12']]=df[['Q5','Q6', 'Q7','Q9','Q10','Q11','Q12']].applymap(agree_map.get)
df[['Q13','Q14']]=df[['Q13','Q14']].applymap(affect_map.get)
df['Q15']=df['Q15'].map(six_pt_map)
df['Q8']=df['Q8'].map(country_map)

/tmp/ipykernel_2025/3475082918.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['Q5','Q6', 'Q7','Q9','Q10','Q11','Q12']]=df[['Q5','Q6', 'Q7','Q9','Q10','Q11','Q12']].applymap(agree_map.get)
/tmp/ipykernel_2025/3475082918.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['Q13','Q14']]=df[['Q13','Q14']].applymap(affect_map.get)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Q_RecaptchaScore  375 non-null    float64
 1   Q1                402 non-null    object
 2   Q2                402 non-null    object
 3   Q3                402 non-null    object
 4   Q4                400 non-null    float64
 5   Q5                402 non-null    int64
 6   Q6                402 non-null    int64
 7   Q7                402 non-null    int64
 8   Q8                369 non-null    float64
 9   Q9                402 non-null    int64
 10  Q10               402 non-null    int64
 11  Q11               402 non-null    int64
 12  Q12               402 non-null    int64
 13  Q13               402 non-null    int64
 14  Q14               402 non-null    int64
 15  Q15               398 non-null    float64
 16  FL_22_DO          402 non-null    object
dtypes: float64(4), int64(9), object(4)
memory usage: 53.5+ KB

In [24]:
df.iloc[:, 4:].drop(columns=['FL_22_DO']).describe()

,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15
count,400.000000,402.000000,402.000000,402.000000,369.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,398.000000
mean,3.170000,4.189055,4.283582,3.136816,1.523035,3.029851,3.890547,3.950249,4.278607,3.696517,2.616915,2.489950
std,1.302052,1.022968,1.107300,1.487668,0.500147,1.365446,1.036953,1.017313,0.961602,0.956635,0.943550,1.392187
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,4.000000,4.000000,2.000000,1.000000,2.000000,4.000000,4.000000,4.000000,3.000000,2.000000,1.000000
50%,3.000000,4.000000,5.000000,3.000000,2.000000,3.000000,4.000000,4.000000,5.000000,4.000000,2.000000,2.000000
75%,4.000000,5.000000,5.000000,4.750000,2.000000,4.000000,5.000000,5.000000,5.000000,4.000000,3.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000

In [26]:
#Independent variables

#Create new column called "Treatment"
df['Treatment'] = (df['FL_22_DO'] == 'FL_24').astype(int)

df_clean = df[['Treatment','Q15']].dropna()

X = sm.add_constant(df['Treatment'])
y = df['Q15'] # Q15 Based on the article you read, how much do you support the U.S. government's data policy?
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    Q15   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Thu, 10 Jul 2025   Prob (F-statistic):                nan
Time:                        02:45:06   Log-Likelihood:                    nan
No. Observations:                 402   AIC:                               nan
Df Residuals:                     400   BIC:                               nan
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const             nan        nan        nan        nan         nan         nan
Treatment         nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [28]:
df['Q15'].isna().sum()

np.int64(4)

In [29]:
df['Q15'].unique()

array([ 1.,  4., nan,  2.,  5.,  3.])

In [30]:
df['Q15'].value_counts(dropna=False)

Q15
1.0    136
2.0     87
4.0     70
3.0     62
5.0     43
NaN      4
Name: count, dtype: int64

In [31]:
df_clean = df[['Treatment', 'Q15']].dropna()
X = sm.add_constant(df_clean[['Treatment']])
y = df_clean['Q15']
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    Q15   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.002
Method:                 Least Squares   F-statistic:                    0.2912
Date:                Thu, 10 Jul 2025   Prob (F-statistic):              0.590
Time:                        03:07:19   Log-Likelihood:                -695.78
No. Observations:                 398   AIC:                             1396.
Df Residuals:                     396   BIC:                             1404.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.5276      0.099     25.589      0.000       2.333       2.722
Treatment     -0.0754      0.140     -0.540      0.590      -0.350       0.199
==============================================================================
Omnibus:                      169.090   Durbin-Watson:                   2.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.651
Skew:                           0.448   Prob(JB):                     2.99e-08
Kurtosis:                       1.866   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.